# PSQL environment variables
export PSQL_EDITOR="code --wait"
export PGPORT="5432"
export PGDATABASE="babelfish_db"
export PGUSER="sa"
export PGPASSWORD="secret_password"
export PGHOST="localhost"

# Setup Arborgold Claude Code

# Enable Bedrock integration
export CLAUDE_CODE_USE_BEDROCK=1
export AWS_REGION=us-east-1  # or your preferred region

# AWS Bedrock API key
export AWS_BEARER_TOKEN_BEDROCK="ABSKQmVkcm9ja0FQSUtleS0yM3l0LWF0LTk3Njc4MzYzMjc5ODpTci9aZmttb3ArV0ZKSUZMQytmRGtlWFluWktKYVRVcUtMRVpHUjFQUG02cHRKM3VJMGpmRXVCMk1PMD0="

# Using inference profile ID
# export ANTHROPIC_MODEL='us.anthropic.claude-opus-4-1-20250805-v1:0'
export ANTHROPIC_SMALL_FAST_MODEL='us.anthropic.claude-3-7-sonnet-20250219-v1:0'

# Using application inference profile ARN
export ANTHROPIC_MODEL='arn:aws:bedrock:us-east-1:976783632798:inference-profile/us.anthropic.claude-opus-4-1-20250805-v1:0'

# Recommended output token settings for Bedrock
export CLAUDE_CODE_MAX_OUTPUT_TOKENS=30000
export MAX_THINKING_TOKENS=8000

export DIRENV_LOG_FORMAT="direnv: %s"

echo "Claude Code is enabled in Amazon Bedrock"
