# PostgreSQL/Babelfish connection settings
PGHOST=localhost
PGPORT=5432
PGDATABASE=babelfish_db
PGUSER=babelfish_admin
BABELFISH_PASSWORD=Dev2024_BabelfishSecure!

# Container initialization settings (automatically use PG credentials)
# ADMIN_USERNAME will use PGUSER value
# ADMIN_PASSWORD will use BABELFISH_PASSWORD value
# ADMIN_DATABASE will use PGDATABASE value
MIGRATION_MODE=multi-db

# Babelfish TDS settings
BABELFISH_TDS_PORT=1433

# Backup directory settings
BBF_DOCKER_BACKUPS=/var/lib/babelfish/bbf_backups
BBF_WINDOWS_BACKUPS=/home/postgres/bbf_backups
BBF_HOST_BACKUP_PATH=/mnt/c/Users/${USERNAME}/bbf_backups
TARGET_PGHOST=localhost

# Locale settings
LC_ALL=C
LANG=C
LANGUAGE=C
